


.bill-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    max-height:499px;
}

h1 {
    text-align: center;
    color: #0078d7;
}

.bill-header p {
    font-size: 16px;
    margin: 5px 0;
}

.bill-total h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.bill-total span {
    color: #e67e22;
}

.bill-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-info, .service-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .customer-info h2, .service-info h2 {
        margin-bottom: 10px;
        font-size: 18px;
        color: #0078d7;
    }

    .customer-info div, .service-info div {
        margin-bottom: 5px;
    }

    .customer-info span, .service-info span {
        font-weight: bold;
        margin-right: 10px;
    }

        .customer-info span.value, .service-info span.value {
            color: #333;
        }

.bill-details th, .bill-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.bill-details th {
    background-color: #0078d7;
    color: white;
}

.bill-details td {
    color: #555;
}

.bill-details tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 480px) {
    .bill-container {
        padding: 15px;
    }

    .bill-header p {
        font-size: 12px;
    }

    .bill-total h2 {
        font-size: 16px;
    }

    .bill-details th, .bill-details td {
        padding: 4px;
        font-size: 12px;
    }

    .bill-details table {
        font-size: 12px;
    }

}

/* Media Query cho màn hình nhỏ */
@media (max-width: 768px) {
    .select2-container--default .select2-selection--single {
        height: 40px; /* Điều chỉnh chiều cao nếu cần */
        width: 300px !important; /* Đặt chiều rộng là 100% để phù hợp với kích thước modal */
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 40px; /* Điều chỉnh chiều cao của phần tử input */
        }

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 150px; /* Điều chỉnh chiều cao của dropdown */
        max-width: 300px; /* Đặt chiều rộng của dropdown là 100% */
    }
}
