
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter"></span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Thông báo
                </h6>
  
               
               
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="/Home/Index">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Trang chủ</span>
            </a>
        </li>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                <img class="img-profile rounded-circle"
                     src="~/Admin_Style/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/Quanlynguoidung/Dangxuat">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>


        </li>

    </ul>
</nav>
<script>
     $(document).ready(function () {
          setInterval(Hienthithongbao, 1000);
        $(document).on('click', '.dropdown-item', function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
            alert('Bạn đã nhấp vào một thông báo!');
            // Thêm mã xử lý sự kiện click ở đây
        });
        });
    function Hienthithongbao() {
        $.ajax({
            url: "/Thongbao/dsthongbao",
            type: "GET",
            success: function (response) {
                if (response.success) {
                    console.log("hello",response.total);
                    var count = response.total > 0 ? response.total : "";
                    $(".badge-counter").text(count);
                    var html = "";
                    $.each(response.data, function (key, item) { // Đảm bảo response.data được sử dụng đúng cách
                        html += '<a class="dropdown-item d-flex align-items-center" href="#">';
                        html += '<div class="mr-3">';
                        html += '<div class="icon-circle bg-success">';
                        html += '<i class="fas fa-donate text-white"></i>';
                        html += '</div>';
                        html += '</div>';
                        html += '<div>';
                        html += '<div class="small text-gray-500">' + item.ngayDang + '</div>';
                        html += item.noiDung;
                        html += '</div>';
                        html += '</a>';
                    });
                }
                
             

                $(".dropdown-list").html(html);
            }
        });
    }
</script>
<style>
    .dropdown-list {
        max-height: 300px; /* Giới hạn chiều cao của dropdown */
        overflow-y: auto !important; /* Thêm thanh cuộn khi nội dung vượt quá chiều cao */
        position: relative; /* Đảm bảo phần tử có vị trí tương đối */
    }

    .dropdown-content {
        max-height: 300px; /* Giới hạn chiều cao của nội dung dropdown */
        overflow-y: auto !important; /* Thêm thanh cuộn khi nội dung vượt quá chiều cao */
    }



</style>