@{
    Layout = "_Layout";
}
@model Projecthoca.Models.EnitityVM.DanhmucVM

<!-- Modal cảnh báo xóa-->
<div class="modal fade" id="Xoaphieuxuat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa phiếu xuất này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="Xacnhanxoa">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal sửa phiếu xuất kho -->
<div class="modal fade" id="SuaPhieuXuat" tabindex="-1" role="dialog" aria-labelledby="suaPhieuXuatLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="suaPhieuXuatLabel">Sửa Phiếu Xuất Kho</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formSuaPhieuXuat">
                    <div class="form-group">
                        <label for="maPhieuXuat">Mã Phiếu Xuất</label>
                        <input type="text" class="form-control" id="maPhieuXuat" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loaiHoaDon">Loại Hóa Đơn</label>
                        <input type="text" class="form-control" id="loaiHoaDon">
                    </div>
                    <div class="form-group">
                        <label for="banCau">Bàn Câu</label>
                        <input type="text" class="form-control" id="banCau">
                    </div>
                    <div class="form-group">
                        <label for="ngayXuat">Ngày Xuất</label>
                        <input type="date" class="form-control" id="ngayXuat">
                    </div>
                    <div class="form-group">
                        <label for="giamGia">Giảm Giá</label>
                        <input type="number" class="form-control" id="giamGia">
                    </div>
                    <div class="form-group">
                        <label for="tienMat">Tiền Mặt</label>
                        <input type="number" class="form-control" id="tienMat">
                    </div>
                    <div class="form-group">
                        <label for="chuyenKhoan">Chuyển Khoản</label>
                        <input type="number" class="form-control" id="chuyenKhoan">
                    </div>
                    <div class="form-group">
                        <label for="thanhTien">Thành Tiền</label>
                        <input type="number" class="form-control" id="thanhTien">
                    </div>
                    <div class="form-group">
                        <label for="tongTien">Tổng Tiền</label>
                        <input type="number" class="form-control" id="tongTien">
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary" id="btnLuuSuaPhieuXuat">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Modal chi tiết hóa đơn -->
<div class="modal fade" id="ChiTietHoaDon" tabindex="-1" role="dialog" aria-labelledby="chiTietModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" id="header">
                <h5 class="modal-title" id="chiTietModalLabel">Chi Tiết Hóa Đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id ="inlai">
                <div id="chiTietNoiDung"></div>
            </div>
            <div class="modal-footer" id="footer">
                 <button type="button" class="btn btn-light m-2" id="Inhoadon"><i class="fas fa-print"></i> In lại hóa đơn</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Danh sách Danh mục-->
<div class="container-fluid" id="fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách phiếu xuất kho</h4>
                </div>
                <div class="col-md-4 col-12 text-md-right mt-2 mt-md-0">
                    <input type="text" id="searchBox" class="form-control" placeholder="Tìm kiếm...">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 mb-2">
                    <input type="date" id="startDate" class="form-control" placeholder="Ngày bắt đầu"
                        value="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
                <div class="col-md-4 mb-2">
                    <input type="date" id="endDate" class="form-control" placeholder="Ngày kết thúc"
                        value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                </div>
                <div class="col-md-4 d-flex">
                    <button id="filterButton" class="btn btn-outline-primary mr-2 flex-fill">Lọc</button>
                    <button id="clearFilterButton" class="btn btn-outline-secondary flex-fill">Xóa lọc</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th>Mã phiếu xuất</th>
                            <th>Loại hóa đơn</th>
                            <th>Bàn câu</th>
                            <th>Ngày xuất</th>
                            <th>Giảm giá</th>
                            <th>Tiền mặt</th>
                            <th>Chuyển khoản</th>
                            <th>Thành tiền</th>
                            <th>Tổng tiền</th>
                            <th>Chi tiết hóa đơn</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot id="tblfoot">
                    </tfoot>
                    <tbody id="tblbody">
                    </tbody>
                </table>
                <div class="row mt-3">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <nav aria-label="Page navigation example" id="pagination">
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <style>
        .card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.table thead th {
    vertical-align: middle;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.btn {
    transition: all 0.3s ease;
}
.add{
    display:none;
}
.btn-info,.btn-danger,.btn-warning{
    background-color: white;
    color: black;
}

    </style>
}

@section Scripts {
    <script>
   $(document).ready(function () {

    $('#dataTable').on('click', '#btnXemChiTiet', function () {
        var chiTietHoaDon = decodeURIComponent($(this).data('chitiethoadon'));
        $('#chiTietNoiDung').html(chiTietHoaDon);
        $('#ChiTietHoaDon').modal('show');
    });

    $(document).on("click ", "#Inhoadon", function () {
                Inhoadon();
                window.location.reload();
            })
     danhsachphieuxuat(1, 10);
    // Kiểm tra xem danh sách có trong localStorage không
    if (localStorage.getItem('danhSachPhieuXuat')) {
        // Nếu có, lấy dữ liệu từ localStorage và hiển thị
        var danhSachPhieuXuat = JSON.parse(localStorage.getItem('danhSachPhieuXuat'));
        hienThiDanhSachPhieuXuat(danhSachPhieuXuat);
    } else {
        // Nếu không có, tải dữ liệu từ server
        danhsachphieuxuat(1, 10);
    }

    // Xóa lọc
    $('#clearFilterButton').on('click', function () {
        $('#searchBox').val('');
        $('#startDate').val('@DateTime.Now.ToString("yyyy-MM-dd")');
        $('#endDate').val('@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")');
         Tongtientatca();
        // Tải lại danh sách từ localStorage hoặc server
        var danhSachPhieuXuat = JSON.parse(localStorage.getItem('danhSachPhieuXuat'));
        if (danhSachPhieuXuat) {
            hienThiDanhSachPhieuXuat(danhSachPhieuXuat);
            updateTotalAmounts(danhSachPhieuXuat);
        } else {
            danhsachphieuxuat(1, 10);
           
        }
    });


    $('#searchBox').on('input', function () {
        var searchTerm = $(this).val().toLowerCase();
        filterData(searchTerm);
    });

    $('#filterButton').on('click', function () {
        var searchTerm = $('#searchBox').val().toLowerCase();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        filterData(searchTerm, startDate, endDate);
    });

    $('#dataTable').on('click', '#btnhttb', function () {
        var Ma_phieuxuatkho = $(this).data('id');
        $('#Xoaphieuxuat').modal('show');
        $('#Xacnhanxoa').click(function () {
            Xoaphieuxuat(Ma_phieuxuatkho);
            $('#Xoaphieuxuat').modal('hide');
        });
    });


    // Xử lý sự kiện nhấn nút "Lưu" trong modal sửa phiếu xuất kho
$('#btnLuuSuaPhieuXuat').on('click', function () {
    capNhatPhieuXuat();
});

// Xử lý sự kiện nhấn nút sửa phiếu xuất kho trong bảng
$('#dataTable').on('click', '#btnSua', function () {
    var Ma_phieuxuatkho = $(this).data('id');
    $.ajax({
        type: "GET",
        url: "/Phieuxuatkho/Xemphieuxuatkho",
        data: { Ma_phieuxuatkho: Ma_phieuxuatkho },
        success: function (response) {
            
            if (response.success) {
                console.log(response);
                hienThiModalSuaPhieuXuat(response.data);
            } else {
                Swal.fire({
                    title: "Thông báo lỗi",
                    text: response.message,
                    icon: "error"
                });
            }
        }
    });
});
    Tongtientatca();
});

// Hiển thị modal sửa phiếu xuất kho với dữ liệu hiện tại
function hienThiModalSuaPhieuXuat(phieuXuat) {
    $('#maPhieuXuat').val(phieuXuat.ma_phieuxuatkho);
    $('#loaiHoaDon').val(phieuXuat.trangthai);
    $('#banCau').val(phieuXuat.ma_khuvuc);
    $('#ngayXuat').val(new Date(phieuXuat.ngayxuat).toISOString().split('T')[0]);
    $('#giamGia').val(phieuXuat.giamgia);
    $('#tienMat').val(phieuXuat.tienmat);
    $('#chuyenKhoan').val(phieuXuat.chuyenkhoan);
    $('#thanhTien').val(phieuXuat.thanhtien);
    $('#tongTien').val(phieuXuat.tongtien);
    $('#SuaPhieuXuat').modal('show');
}

// Cập nhật thông tin phiếu xuất kho
function capNhatPhieuXuat() {
    var maPhieuXuat = $('#maPhieuXuat').val();
    var loaiHoaDon = $('#loaiHoaDon').val();
    var banCau = $('#banCau').val();
    var ngayXuat = $('#ngayXuat').val();
    var giamGia = $('#giamGia').val();
    var tienMat = $('#tienMat').val();
    var chuyenKhoan = $('#chuyenKhoan').val();
    var thanhTien = $('#thanhTien').val();
    var tongTien = $('#tongTien').val();
    

    $.ajax({
        type: "POST",
        url: "/Phieuxuatkho/Capnhatphieuxuat",
        data: {
            maPhieuXuat: maPhieuXuat,
            loaiHoaDon: loaiHoaDon,
            banCau: banCau,
            ngayXuat: ngayXuat,
            giamGia: giamGia,
            tienMat: tienMat,
            chuyenKhoan: chuyenKhoan,
            thanhTien: thanhTien,
            tongTien: tongTien
        },
        success: function (response) {
            if (response.success) {
                Swal.fire({
                    title: "Thành công",
                    text: response.message,
                    icon: "success"
                });
                $('#SuaPhieuXuat').modal('hide');
                danhsachphieuxuat(1, 10); // Tải lại danh sách sau khi cập nhật
            } else {
                Swal.fire({
                    title: "Thông báo lỗi",
                    text: response.message,
                    icon: "error"
                });
            }
        }
    });
}



 // in hóa đơn
function Inhoadon() {
 //var footer = document.getElementById("fluid");
 var printContents = document.querySelector("#ChiTietHoaDon #inlai").innerHTML;
 var originalContents = document.body.innerHTML;
 var printStyles =`
 <style>
 .modal-header,.modal-footer,.#fluid{
     display:none;
 }
 
 </style>
 `
 //footer.classList.add("add");
   document.body.innerHTML = printStyles + printContents;
 window.print();
  document.body.innerHTML = originalContents;

//footer.classList.remove("add");

           
}


function danhsachphieuxuat(page, pagesize) {
    $.ajax({
        type: "POST",
        url: "/Phieuxuatkho/Danhsachphieu",
        data: { page: page, pagesize: pagesize },
        success: function (response) {
            if (response.success) {
                // Lưu dữ liệu vào localStorage
                localStorage.setItem('danhSachPhieuXuat', JSON.stringify(response.dsdm));
                hienThiDanhSachPhieuXuat(response.dsdm);
                console.log(response.dsdm);
                updatePagination(response.totalPages, response.pageindex);
            } else {
                Swal.fire({
                    title: "Thông báo lỗi",
                    text: response.message,
                    icon: "error"
                });
            }
        }
    });
}

function hienThiDanhSachPhieuXuat(danhSachPhieuXuat) {
    $('#tblbody').empty();
    $.each(danhSachPhieuXuat, function (index, value) {
        var str = `<tr>
                        <td>${value.ma_phieuxuatkho}</td>
                        <td>${value.trangthai}</td>
                        <td>${value.ma_khuvuc}</td>
                        <td>${new Date(value.ngayxuat).toISOString().split('T')[0]}</td>
                        <td>${formatCurrency(value.giamgia)}</td>
                        <td>${formatCurrency(value.tienmat)}</td>
                        <td>${formatCurrency(value.chuyenkhoan)}</td>
                        <td>${formatCurrency(value.thanhtien)}</td>
                        <td>${formatCurrency(value.tongtien)}</td>
                        <td><button class="btn btn-info" data-id='${value.ma_phieuxuatkho}' data-chitiethoadon='${encodeURIComponent(value.chitiethoadon)}' id="btnXemChiTiet">In lại hóa đơn</button></td>
                        <td>
                        <button class="btn btn-danger" data-id='${value.ma_phieuxuatkho}' id="btnhttb">Xóa</button>
                        @* <button class="btn btn-warning" data-id='${value.ma_phieuxuatkho}' id="btnSua">Sửa</button> *@
                        </td>
                       
                    </tr>`;
        $('#tblbody').append(str);
    });
}

function filterData(searchTerm, startDate, endDate) {
    var danhSachPhieuXuat = JSON.parse(localStorage.getItem('danhSachPhieuXuat'));
    var filteredList = danhSachPhieuXuat.filter(function (item) {
        var itemDate = new Date(item.ngayxuat);
        var start = new Date(startDate);
        var end = new Date(endDate);

        // So sánh ngày mà không cần phần giờ
        return (item.ma_phieuxuatkho.toLowerCase().includes(searchTerm) ||
                item.ma_khuvuc.toLowerCase().includes(searchTerm)) &&
                (!startDate || itemDate >= start) &&
                (!endDate || itemDate <= end);
    });

    hienThiDanhSachPhieuXuat(filteredList);

    // Tính tổng tiền sau khi lọc
    var tongTienMat = 0;
    var tongTienCK = 0;
    var tongThanhTien = 0;
    var tongTien = 0;

    filteredList.forEach(function(item) {
        tongTienMat += item.tienmat;
        tongTienCK += item.chuyenkhoan;
        tongThanhTien += item.thanhtien;
        tongTien += item.tongtien;

    });

    // Cập nhật hiển thị tổng tiền
    var html = `<tr>
                    <th colspan="5">TỔNG TIỀN </th>
                    <th>${formatCurrency(tonggiamgia)}</th>
                    <th>${formatCurrency(tongTienMat)}</th>
                    <th>${formatCurrency(tongTienCK)}</th>
                    <th>${formatCurrency(tongThanhTien)}</th>
                    <th>${formatCurrency(tongTien)}</th>
                </tr>`;
    $('#tblfoot').html(html);
}


function updatePagination(totalPages, currentPage) {
    if (totalPages > 0) {
        var str = `<nav aria-label="Page navigation example">
                        <ul class="pagination">`;
        if (totalPages > 1) {
            if (currentPage > 1) {
                str += `<li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="danhsachphieuxuat(${currentPage - 1}, 10)">Previous</a></li>`;
            }
            for (let i = 1; i <= totalPages; i++) {
                if (currentPage === i) {
                    str += `<li class="page-item active"><a class="page-link" href="javascript:void(0)">${i}</a></li>`;
                } else {
                    str += `<li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="danhsachphieuxuat(${i}, 10)">${i}</a></li>`;
                }
            }
            if (currentPage < totalPages) {
                str += `<li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="danhsachphieuxuat(${currentPage + 1}, 10)">Next</a></li>`;
            }
        }
        str += `</ul></nav>`;
        $('#pagination').html(str);
    }
}

function formatCurrency(value) {
    return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
}

function Xoaphieuxuat(Ma_phieuxuatkho) {
    $.ajax({
        type: "POST",
        url: "/Phieuxuatkho/Xoaphieuxuat",
        data: { Ma_phieuxuatkho: Ma_phieuxuatkho },
        success: function (response) {
            if (response.success) {
                Swal.fire({
                    title: "Thành công",
                    text: response.message,
                    icon: "success"
                });
                // Cập nhật danh sách từ localStorage sau khi xóa
                var danhSachPhieuXuat = JSON.parse(localStorage.getItem('danhSachPhieuXuat'));
                danhSachPhieuXuat = danhSachPhieuXuat.filter(item => item.ma_phieuxuatkho !== Ma_phieuxuatkho);
                localStorage.setItem('danhSachPhieuXuat', JSON.stringify(danhSachPhieuXuat));
                hienThiDanhSachPhieuXuat(danhSachPhieuXuat);
                Tongtientatca();
            } else {
                Swal.fire({
                    title: "Thông báo lỗi",
                    text: response.message,
                    icon: "error"
                });
            }
        }
    });
}

function Tongtientatca() {
    $.ajax({
        type: "GET",
        url: "/Phieuxuatkho/Tongtientatcapx",
        success: function (response) {
            if (response.success) {
                console.log(response);
                $('#tblfoot').empty();
                var html = `<tr>
                                <th colspan="5">TỔNG TIỀN</th>
                                <th>${formatCurrency(response.tongtienmat)}</th>
                                <th>${formatCurrency(response.tongtienck)}</th>
                                <th>${formatCurrency(response.tongthanhtien)}</th>
                                <th>${formatCurrency(response.tongtien)}</th>
                            </tr>`;
                $('#tblfoot').html(html);
            } else {
                Swal.fire({
                    title: "Thông báo lỗi",
                    text: response.message,
                    icon: "error"
                });
            }
        }
    });
}

    </script>
}
