@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout";
}
@model Projecthoca.Models.EnitityVM.PhieunhapkhoVM
<!--Modal xem tài dịch vụ -->
<!-- Modal Thêm danh mục-->
<div class="modal fade" id="Themphieunhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm phiếu nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formnhapkho" enctype="multipart/form-data">
                    <div class="d-flex flex-wrap justify-content-center align-item-center">
                        <div class="w-50 p-2">
                            <div class="form-group">
                                <input asp-for="Ma_phieunhapkho" type="hidden" class="form-control" id="Ma_danhmuc">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Người Nhập</label>
                                <input asp-for="Nguoinhap" type="text" class="form-control" id="Nguoinhap" style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Tên hàng hóa</label>
                                <input asp-for="Ten_danhmuc" type="text" class="form-control" id="Ten_danhmuc" style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Ngày nhập</label>
                                <input asp-for="Ngaynhap" type="date" class="form-control" id="Ngaynhap" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Số lượng</label>
                                <input asp-for="Soluong" type="number" class="form-control" id="Soluong" style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Mặt hàng</label>
                                <select class="form-select" asp-for="Ma_mathang" aria-label="Default select example" id="Ma_mathang" style="width: 100%;">
                                </select>
                            </div>
                        </div>
                        <div class="w-50 pt-4">
                            <div class="form-group">
                                <label class="col-form-label">Tên kho</label>
                                <input asp-for="Tenkho" type="text" class="form-control" id="Tenkho" style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Địa điểm</label>
                                <input asp-for="Diadiem" type="text" class="form-control" id="Diadiem" style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Đơn vị tính</label>
                                <select class="form-select" asp-for="Donvitinh" aria-label="Default select example" id="Donvitinh" style="width: 100%;">
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Đơn giá</label>
                                <input type="number" asp-for="Dongia" class="form-control" id="soluong" style="width: 100%;">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitBtnpn">Thêm phiếu nhập</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Danh sách Danh mục-->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3  ">
            <div class="row">
                <div class="col-md-10 col-12">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách phiếu nhập</h4>
                </div>
                <div class="col-md-2 col-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#Themphieunhap"> <span class="fs-20">Thêm phiếu nhập</span> </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã phiếu nhập</th>
                            <th>Người nhập</th>
                            <th>Ngày nhập</th>
                            <th>Kho</th>
                            <th>Địa điểm</th>
                            <th>Đơn vị tính</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                            <th>Sửa</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã phiếu nhập</th>
                            <th>Người nhập</th>
                            <th>Ngày nhập</th>
                            <th>Kho</th>
                            <th>Địa điểm</th>
                            <th>Đơn vị tính</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                            <th>Sửa</th>
                        </tr>
                    </tfoot>
                    <tbody id="tblbody">
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <nav aria-label="Page navigation example" id="pagination">

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts {
            <script>
                $(document).ready(function () {
                    $(document).on('click', '#submitBtnpn', function () {
                        Themnhapkho();
                    });
                    $('#Themdanhmuc').on('hidden.bs.modal', function () {
                       

                    });
                    $(document).on('click', '#updateBtndm', function () {
                   
                    });
                    Laydvt();
                    Laymathang();
                });
                function resetForm() {
                    var form = $("#formThemdanhmuc")[0];
                    form.reset();

                }
                function Laydvt() {
                    $.ajax({
                        type: "GET",
                        url: "/Danhmuc/Danhsachdvt",
                        success: function (response) {
                            $('#Donvitinh').empty();
                            if (response.success) {
                                $.each(response.data, function (index, value) {
                                    var str = `<option value="${value.ten_donvitinh}">${value.ten_donvitinh}</option>`;
                                    $('#Donvitinh').append(str);
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Thông báo lỗi",
                                    text: response.message,
                                    icon: "error"
                                });
                            }
                        }
                    });
                }
                function Laymathang() {
                    $.ajax({
                        type: "GET",
                        url: "/Danhmuc/Danhsachmh",
                        success: function (response) {
                            $('#Ma_mathang').empty();
                            if (response.success) {
                                $.each(response.data, function (index, value) {
                                    var str = `<option value="${value.ma_mathang}">${value.ten_mathang}</option>`;
                                    $('#Ma_mathang').append(str);
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Thông báo lỗi",
                                    text: response.message,
                                    icon: "error"
                                });
                            }
                        }
                    });
                }
                function Themnhapkho()
                { 
                    var form = $('#formnhapkho')[0];
                    var data = new FormData(form);
                    $.ajax({
                        type: "POST",
                        url: "/Phieuxuatkho/Themphieunhapkho",
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: "Thông báo",
                                    text: response.message,
                                    icon: "success"
                                });
                                $('#Themphieunhap').modal('hide');
                                danhsachphieunhap(1, 10);
                            }
                            else {
                                Swal.fire({
                                    title: "Thông báo lỗi",
                                    text: response.message,
                                    icon: "error"
                                });
                            }
                        }
                    });
                }
               
            </script>
        }
